.hero {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 2%;
  margin-left: 2%;
  background-color: whitesmoke;
  border-radius: 15px;
}
.hero-text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 3%;
  margin-top: 5%;
  flex-wrap: wrap;
  position: relative;
}
.illustration-hero-image {
  height: 60%;
  margin-top: 6%;
  margin-left: 15%;
  border: 2px solid #000;
  padding: 5px 5px 5px 5px;
  box-shadow: 3px 4px 0px 1px #000;
}
.illustration-hero {
  text-align: center;
  transform: rotate(-5deg);
}
.text-content-head {
  font-weight: 700;
  font-size: 40px;
  color: #000;
  padding-right: px;
}
.text-content-mid {
  margin-top: -5px;
  color: #8d99ae;
  font-weight: 500;
  font-size: 20px;
}
.text-content-low {
  margin-top: -20px;
  color: #8d99ae;
  font-weight: 500;
  font-size: 20px;
}
.start-my-page-button {
  background: #d90429;
  color: #000;
  border-radius: 4px;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  height: 45px;
  width: auto;
  font-size: large;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}
.start-my-page-button:hover {
  background-color: white;
  color: black;
}

.start-my-page-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
