body {
  background-color: #fee440;
}

.container {
  display: flex;
  justify-content: space-around;
}

.form_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  background-color: whitesmoke;
  width: 30%;
  height: 610px;
  margin-left: 0;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
}
.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 20px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
  font-family: Montserrat;
}

.form_style {
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  width: 290px;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 10px;
}

.form_style:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000;
}
.btn {
  font-family: Montserrat;
  padding: 10px;
  margin: 20px 0px;
  width: 150px;
  font-size: 15px;
  background: #fee440;
  border-radius: 30px;
  font-weight: 800;
  box-shadow: 5px 5px 0px 0px #000;
}
.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  color: #000;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
  font-family: Montserrat;
}

.signup-text {
  margin-top: 10%;
}

.signup-text-content {
  font-weight: 800;
  font-size: 35px;
  line-height: 55px;
}

.creator {
  background-color: #000;
  color: #fee440;
  padding: 3px 3px 3px 3px;
  box-shadow: 5px 5px 0px 0px white;
}
