.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  height: 60px;
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  border-radius: 4px;
  font-size: 15px;
}

.nav-links {
  display: flex;
  margin-right: 20px;
  font-family: Montserrat;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.nav-item {
  font-size: large;
  color: #2b2d42;
}

.logo {
  font-family: Montserrat;
  font-size: small;
  margin-left: 15px;
  color: #d90429;
}

.get-started-button {
  display: flex;
  background: #d90429;
  color: #000;
  border-radius: 4px;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  height: 35px;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 2px;
  font-weight: bold;
}

.get-started-button:hover,
.get-started-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #2b2d42;
}

.get-started-button:active {
  opacity: 0.5;
}
